.y-header_theme_normal {
  position: relative;
  z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 70px;
  border-bottom: 1px solid rgba(0,0,0,0.06);
  background: #fff;
}
